body {
    background-image: url("../images/gr-stocks-q8P8YoR6erg-unsplash.jpg");
    background-size: cover;
    margin: 0;
}

.jumbotron h3 {
    font-color: black;
}

#movies img, #movie img{
    width: 100%;
}

@media(min-widt:960px){

#movies .col-md-3 .well{
    height: 390px;
}

#movies .col-md-3 img{
    height: 240px;
}
}